@inject IJSRuntime JsRuntime
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@page "/cube"

<div class="grid-container">
    <div class="cube1 grid-item">
        <input type="range" @bind-value="@CubicSize" min="1" max="10"/>
        <br/>
        <input type="range" @bind-value="@CubicCenter" min="-5" max="5"/>
        <br/>
    </div>
    <div class="cube2 grid-item">
        <input type="range" @bind-value="@CubicSize2" min="1" max="10"/>
        <br/>
        <input type="range" @bind-value="@CubicCenter2" min="-5" max="5"/>
        <br/>
    </div>
    <canvas id="myCanvas"></canvas>
</div>
