@inject IJSRuntime JSRuntime
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@page "/cube"

<div>
    <input type="range" @bind-value="@CubeSize" min="1" max="10"/>
    <br/>
    <input type="range" @bind-value="@CubeCenter" min="-5" max="5"/>
    <br/>
    <canvas id="myCanvas"></canvas>
</div>

<SurveyPrompt Title="How is Blazor working for you?"/>

@code {
    private double CubeSize { get; set; } = 1;
    private double CubeCenter { get; set; } = 0.75;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setup", CubeSize, CubeCenter);
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("updateCube", CubeSize, CubeCenter);
        }
    }

}